*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
ul{
	margin: 0;
}
.menu{
	background-color: $rojoNav;
	width: 100%;
	height: auto;
}
.menu__item{
	display: inline-block;
	list-style: none;
	padding:15px;
}
.menu__img{
	width: 100%;
	height: auto;
	padding-right: 20px;
}
.menu__item__link{
	text-decoration: none;
	color: $blanco;
	font-size: $subtitulo;
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;
}
.menu__item__link--azul{
	background-color: $azulCuerpo;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 40px;
}
.second{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: $azulCuerpo;
}
.logo{
	padding: 100px;
	padding-bottom:0;
}
.text{
	padding: 70px;
}
.text__titulo{
	color: $verdeBoton;
	font-size: $titulo;
}
.text__subtitulo{
	color: $gris;
	font-size: $subtitulo;
	position: relative;
    top: -15px;
}
.text__desc{
	color: $gris;
	font-size: $parrafo;
}
.text__boton{
	color: $blanco;
	background-color: $verdeBoton;
	border: none;
	cursor: pointer;
	border-radius: 40px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.sociales{
	background-color: $azulCuerpo;
	padding-top: 20px;
	padding-bottom:100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.sociales__boton{
	width: 60px;
	height: 60px;
	border: none;
	margin-left: 15px;
	margin-right: 15px;
}
.sociales__boton--facebook{
	background-color: $facebook;
}
.sociales__boton--twitter{
	background-color: $twitter;
}
.sociales__boton--google{
	background-color: $google;
}
.sociales__boton--dribble{
	background-color: $dribble;
}
.sociales__boton--linkedin{
	background-color: $linkedin;
}


.fa{
	color: $blanco;
	-webkit-box-shadow: 9px 10px 20px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 20px -2px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 20px -2px rgba(0,0,0,0.75)
}